@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Bold.woff2') format('woff2'),
        url('Metropolis-Bold.woff') format('woff'),
        url('Metropolis-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-RegularItalic.woff2') format('woff2'),
        url('Metropolis-RegularItalic.woff') format('woff'),
        url('Metropolis-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.woff2') format('woff2'),
        url('Metropolis-Regular.woff') format('woff'),
        url('Metropolis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-BoldItalic.woff2') format('woff2'),
        url('Metropolis-BoldItalic.woff') format('woff'),
        url('Metropolis-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
  margin: 0;
  font-family: 'Metropolis', sans-serif;
  font-size: 20px;
}

h1, h2 {
  margin-bottom: 14px;
  margin-top: 0px;
}

nav {
  padding: 30px;
  height: 90px;
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
}

code {
  padding: 2px;
  color: #b755ff;
  border-radius: 3px;
  font-size: 20px;
  background: #FAFAFA;
}

code::selection {
  color: white;
  background: #b755ff;
}

pre {
  background: #f2f2f2;
  color: indigo;
  width: 165px;
}

pre::selection {
  background: indigo;
  color: #f2f2f2;
}
